// Five Blue Elements of eISO
$main-snow-blue: #DEECFB;
$main-sky-blue: #7AB3EF;
$main-gray-blue: #649ACC;
$main-blue: #368CE7;
$main-air-force-blue: #1666BA;

// Notification colour themes
$message-ok-fg: #0F5132;
$message-ok-bg: #D1E7DD;
$message-error-fg: #842029;
$message-error-bg: #F8D7DA;
$message-warning-fg: #664D03;
$message-warning-bg: #FFF3CD;
$message-idle-fg: #000000;
$message-idle-bg: #C8C8C8;
$message-info-fg: #084298;
$message-info-bg: #CFE2FF;
$message-dark-fg: #FEFEFE;
$message-dark-bg: #636464;

// Anchor Link colour themes
$anchor-enabled: #0D6EFD;
$anchor-disabled: #6C757D;

// Button colour themes
$button-alert: #DC3545;
$button-ok: #198754;
$button-warning: #FFC107;
$button-primary: #0D6EFD;
$button-info: #0DCAF0;
$button-dark: #000000;
$button-disabled: #636464;
$button-login: #1666BA;