.c-Cart {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;

    &__Left {
        flex: 1;
        margin-right: 20px;
        margin-top: 50px;

        h1 {
            font-size: $font-large;
            font-weight: bold;
            color: $stripe-text-dark;
        }

        .l-Cart__Items {
            margin-top: 20px;
        }
    }

    &__Right {
        flex: 1;
        margin-left: 20px;
        margin-top: 50px;

        h1 {
            font-size: $font-large;
            font-weight: bold;
            color: $stripe-text-dark;
        }

        .l-Cart__Checkout-card {
            margin-top: 20px;
            .c-Checkout-card {
                &__Info {
                    .c-Checkout-card__Item-sub-total {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        h2 {
                            font-size: $font-small;
                            font-weight: bold;
                            color: $stripe-text-dark;
                        }
                    }

                    .c-Checkout-card__Sub-total {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        h1 {
                            font-size: $font-small;
                            font-weight: bold;
                            color: $stripe-text-dark;
                        }

                        h2 {
                            font-size: $font-small;
                            font-weight: bold;
                            color: $stripe-text-dark;
                        }
                    }

                    .c-Checkout-card__Grand-total {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        h1 {
                            font-size: $font-small;
                            font-weight: bold;
                            color: $stripe-text-dark;
                        }

                        h2 {
                            font-size: $font-small;
                            font-weight: bold;
                            color: $stripe-text-dark;
                        }
                    }
                }

                button {
                    margin-top: 20px;
                    width: 100%;
                    cursor: pointer;
                    box-shadow: none;
                    background-color: $stripe-purple;
                    color: white;

                    &:hover {
                        opacity: 0.9;
                    }

                    &:active {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    &__Empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 110px);
        width: 100vw;

        h1 {
            font-size: $font-large;
            font-weight: bold;
            color: $stripe-text-dark;
        }

        a {
            color: $stripe-purple;
            font-size: $font-small;
            font-weight: 600;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}