.c-Product-details {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;

    &__Img {
        flex: 1.5;

        img {
            width: 500px;
            height: 500px;
        }
    }

    &__Info {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 500px;

        h1 {
            font-size: $font-large;
            font-weight: bold;
            color: $stripe-text-dark;
        }

        h2 {
            font-size: $font-medium;
            font-weight: 600;
            color: $stripe-secondary;
        }

        article {
            font-size: $font-small;
            font-weight: 400;
            color: $stripe-text-dark;
        }

        .c-Product-details__Btns {
            margin-top: 20px;

            .c-Btns__Added-to-cart {
                .c-Btn__View {
                    margin-top: 20px;
                    width: 100%;
                    cursor: pointer;
                    box-shadow: none;
                    background-color: $stripe-primary;
                    color: white;
                }

                .c-Btn__Remove {
                    margin-top: 20px;
                    width: 100%;
                    cursor: pointer;
                    box-shadow: none;
                    background-color: $stripe-error-bg;
                    color: $stripe-error-fg;
                }
            }

            .c-Btns__Add-to-cart {
                button {
                    margin-top: 20px;
                    width: 100%;
                    cursor: pointer;
                    box-shadow: none;
                    background-color: $stripe-purple;
                    color: white;

                    &:hover {
                        opacity: 0.9;
                    }

                    &:active {
                        opacity: 0.7;
                    }
                }
            }
        }

        h3 {
            margin-top: 20px;
            font-size: $font-small;
            font-weight: 600;
            color: $stripe-text-dark;
        }

        a {
            color: $stripe-purple;
            font-weight: 600;
            width: fit-content;

            &:hover {
                opacity: 0.9;
            }

            &:active {
                opacity: 0.7;
            }
        }

    }
}