.c-Cart-items {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-evenly;

    &__Img {
        img {
            width: 150px;
            height: 150px;
        }
    }
    &__Info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: $font-medium !important;
            font-weight: bold;
            color: $stripe-text-dark;
        }
        h3 {
            font-size: $font-small;
            font-weight: 500;
            color: $stripe-secondary;
        }
        h2 {
            font-size: $font-small;
            font-weight: bold;
            color: $stripe-text-dark;
        }
        .c-Cart-items__Qty {
            margin-top: 20px;
        }
    }
    &__Delete {
        display: flex;
        justify-content: center;
        flex-direction: column;
        svg {
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
            &:active {
                opacity: 0.7;
            }
        }
    }
}